[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

apiai = "*"
cherrypy = "*"
django = "*"
fuzzywuzzy = "*"
paste = "*"
requests = "*"
schedule = "*"
certifi = "*"
chardet = "*"
cheroot = "*"
idna = "*"
"jaraco.classes" = "*"
numpy = "*"
portend = "*"
python-levenshtein = "*"
pytz = "*"
tempora = "*"
"urllib3" = "*"
dj-database-url = "*"
"psycopg2" = "*"
gunicorn = "*"
whitenoise = "*"
pymongo = "*"


[dev-packages]

