[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

apiai = "*"
CherryPy = "*"
Django = "*"
fuzzywuzzy = "*"
Paste = "*"
requests = "*"
schedule = "*"
certifi = "*"
chardet = "*"
Cheroot = "*"
idna = "*"
"jaraco.classes" = "*"
numpy = "*"
portend = "*"
python-Levenshtein = "*"
pytz = "*"
tempora = "*"
"urllib3" = "*"
dj-database-url = "*"
"psycopg2" = "*"
gunicorn = "*"
whitenoise = "*"
pymongo = "*"
eventlet = "*"
raven = "*"
django-storages = "*"
"boto3" = "*"
redis = "*"
mrq = "*"


[dev-packages]

