[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

apiai = "*"
cherrypy = "*"
django = "*"
fuzzywuzzy = "*"
paste = "*"
requests = "*"
schedule = "*"
certifi = "*"
chardet = "*"
cheroot = "*"
idna = "*"
"jaraco.classes" = "*"
numpy = "*"
portend = "*"
python-levenshtein = "*"
pytz = "*"
tempora = "*"
"urllib3" = "*"
dj-database-url = "*"
"psycopg2" = "*"
gunicorn = "*"
whitenoise = "*"
pymongo = "*"
raven = "*"
django-storages = "*"
"boto3" = "*"
redis = "*"
mrq = "*"
"beautifulsoup4" = "*"
"m3u8" = "*"
lxml = "*"
pycountry = "*"
pyyaml = "*"
"django-sortedm2m" = "*"
django-tz-detect = "*"
"django-sortedm2m-filter-horizontal-widget" = {git = "https://github.com/wdr-data/sortedm2m-filter-horizontal-widget.git", ref = "0eaf0155728bbc4d5fda673a1be724b62c2730cc"}
dnspython = "*"
gevent = "*"
"iso8601" = "*"


[dev-packages]

pytest = "*"
mongomock = "*"
pytest-tap = "*"
