{% extends "admin/change_form.html" %}
{% block after_related_objects %}
{{ block.super}}
<script type="text/javascript">
addEvent(window, "load", function() {
    var inputs = [];
    Array.prototype.push.apply(inputs, document.getElementsByTagName("input"));
    Array.prototype.push.apply(inputs, document.getElementsByTagName("select"));
    Array.prototype.push.apply(inputs, document.getElementsByTagName("textarea"));
    if (inputs.length > 0) {
        for (var i = 0, t = inputs.length; i < t; i++) {
            if (inputs[i].parentNode.className.indexOf('submit-row') == -1) {
                addEvent(inputs[i], "change", function () {
                    window.onbeforeunload = function () {
                        return "Es gibt ungespeicherte Änderungen!";
                    }
                });
            } else {
                addEvent(inputs[i], "click", function () {
                    window.onbeforeunload = null
                });
            }
        }
    }
})
</script>
{% endblock %}