---

apiVersion: v1
kind: Secret
metadata:
  namespace: {{ namespace }}-{{ stage }}
  name: {{ secret.name }}
type: Opaque
data:
{% for key, val in secret.entries.iteritems() %}
  {{ key }}: "{{ val | b64encode }}"
{% endfor %}
