---

apiVersion: v1
kind: Secret
metadata:
  name: {{ prefix }}.{{ stage }}.{{ secretName }}
type: Opaque
data:
{% for key, val in secret_items.iteritems() %}
  {{ key }}: "{{ val | b64encode }}"
{% endfor %}
